.content-info {
    margin-bottom: $space-quad;
    margin-top: $space-quarter;
    background-color: $gray-light;
    border: 1px solid $gray-light;
    color: $gray;
    overflow: hidden;
    font-size: 12px;
    padding: 0 12px;

    p {
        margin: 12px 0;
    }
}