.caret {
    display: none;

    @media all and (min-width: $bp-med) {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: top;
        border-top: 4px solid $gray-dark;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        border-bottom-color: $gray-dark;
        margin: 4px 0 0 2px;
    }
}

li.dropdown:hover .caret,
li.dropdown.active .caret {
    border-top-color: $red;
    border-bottom-color: $red;
}

.dropup, .dropdown {
    position: relative;
}

.dropdown-menu {
    margin-left: 0 !important;
    display: block;

    @media all and (min-width: $bp-med) {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        -moz-background-clip: padding;
        background-clip: padding-box;

        li {
            width: 100%;
            background-color: rgba(255, 255, 255, 0.95);
        }
    }
}

li.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-main .menu-line {
    border-left: 35px inset rgba(255, 255, 255, 0);
    border-right: 35px inset rgba(255, 255, 255, 0);
    border-bottom: 5px solid $red;
    position: absolute;
    bottom: 0;
}

.social-nav {
    margin: 7px 0;
    min-height: 35px;
}