.sidebar {
    background-color: $gray-lighter;
    border: 1px solid $gray-light;
    margin: 15px -66px 30px;
    float: right;
    padding: 10px 30px 30px;
    position: relative;
    width: 30%;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $white;
        height: 1px;
        width: 100%;
    }

    &:after {
        content: "";
        position: absolute;
        top: -10px;
        right: 0;
        width: 0;
        height: 0;
        border-bottom: 10px solid $gray-darker;
        border-right: 25px solid transparent;
    }
}