.slider {
    width: 100%;
    height: auto;

    .flex-control-nav {
        display: none;
    }

    h2.slide-title {
        top: 70%;
        a {
            border-left: 3px solid $red;
            font-size: $font-size-large;
            background: rgba(0,0,0,.5);
            font-family: $font-secondary;
            font-weight: normal;
            color: $white;
            padding: .5em 1em;

            @media all and (max-width: $bp-med) {
                position: initial;
                background: none;
                border: none;
                display: block;
                height: 3.5em;
            }
        }

        @media all and (max-width: $bp-med) {
            background: $black;
        }
    }
}