body {
    margin: 0;
    font-family: $font;
    background: url("../img/bg.png");
    line-height: 1.5rem;
    font-size: 100%;

    @media all and (min-width: $bp-med) {
        padding-top: $space-triple;
    }
}

.wrap {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}