/*------------------------------------*\
    $GLOBAL ELEMENTS
\*------------------------------------*/
@import "generic/variables";
@import "generic/mixins";
@import "generic/reset";


/*------------------------------------*\
    $GLOBAL ELEMENTS
\*------------------------------------*/
@import "base/global-classes";
@import "base/main";
//@import "base/links";
@import "base/headings";
@import "base/text";
//@import "base/lists";
//@import "base/media";
//@import "base/forms";
//@import "base/tables";

//@import "base/figure";


/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
@import "base/grid";


/*------------------------------------*\
    $PAGE STRUCTURE
\*------------------------------------*/
@import "objects/header";
//@import "objects/nav";
//@import "objects/main";
@import "objects/sidebar";
@import "objects/footer";

//@import "objects/leftnavi";


/*------------------------------------*\
    $TEXT Styles
\*------------------------------------*/
//@import "objects/text";


/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
@import "objects/icons";
//@import "objects/buttons";
//@import "objects/lists";
@import "objects/offcanvas";
@import "objects/slider";
@import "objects/service-tiles.scss";

a { text-decoration: none; }

.nav>li>a {
  display: block;
}

.dropup, .dropdown {
  position: relative;
}

.dropdown-menu {
  /*position: absolute;*/
  top: 100%;
  left: 0;
  z-index: 1000;
  /*display: none;*/
  float: left;
  -moz-background-clip: padding;
  background-clip: padding-box;
}